
.Filter-dropdown{
    height: auto;
    width: 300px;
    background: black;
    position: absolute;
    top: 60px;
    right: 60px;
    border-radius: 3px;
    color: white;
  }

  .filter-icon,.arrow-btn{
    cursor: pointer;
  }

  .filter-input{
    border: none;
    border-bottom: 1px solid red;
    width: 80%;
    margin: auto;
    height: 40px;
    background: transparent;
    color: white;
  }

  

  .filter-input:focus{
    outline: none;
  }

  .filter-input::placeholder{
    text-align: center;
  }

  .filter-btn1{
    height: 30px;
    width: 200px;
    border: none;
    background: orangered;
    color: white;
    border-radius: 3px;
  }

  .radio-buttons,.filter-btn{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }


 .input-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  .input-radio{
    margin: 10px;
   
    
  }

  .radio-label{
    margin: 10px;
  }